.input:first-child {
  margin-bottom: 12px;
}

.input {
  /*border: 1px solid black;*/
  /*width: 150px;*/
}

.input__wrapper {
  border: 1px solid black;
  display: inline-block;
  margin-left: 12px;
  padding: 8px;
}

.input__element {
  width: 24px;
}

.input__label {
  margin-right: 8px;
  display: inline-block;
}